/* Common page styles */
.page-loading {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-spinner {
    height: 4rem;
    width: 4rem;
    border-radius: 9999px;
    border-top: 2px solid var(--accent-primary);
    border-bottom: 2px solid var(--accent-primary);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}